@{
  Layout = "_Layout";
}

<h1>~Hello, Claire~</h1>
<h3>Do you need help managing your stylists and clients?</h3>
<h3>Let me help!</h3>
<br>
<a href='/Stylists/Index'><button type="button" class="btn btn-secondary">Find your stylists here!</button></a>
<a href='/Clients/Index'><button type="button" class="btn btn-secondary">Find your clients here!</button></a>
<a href="https://youtu.be/dQw4w9WgXcQ"><button type="button" class="btn btn-secondary">Deals of the day!</button></a>